/* -----------------------------------------------------------
 *	Project Name:    WeatherApp
 *  Author:          Paul D'Amora
 *  Author URI:      http://pauldamora.com
 *  Version:         0.0.1
 *  Created:         June 8, 2018
 *  Modified:        June 9, 2018
 *  [Table of contents]
 *    0. Variables, Mixins
 *	  1. Typography
 *      1.1 Text Elements
 *    2. Utilities
 *		3. Structure
 *      3.0 Header
 *      3.1 Body
 *      3.2 Miscellaneous
 *      3.3 Footer
----------------------------------------------------------- */
@import "bootstrap";


/* -----------------------------------------------------------
	0. VARIABLES, MIXINS, ETC.
----------------------------------------------------------- */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* -----------------------------------------------------------
	1. TYPOGRAPHY
----------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* -----------------------------------------------------------
  2. UTILITIES
----------------------------------------------------------- */
.btn-default {
  -webkit-appearance: none;
  background-color: #ff73b3;
  border: 0 none;
  color: #fff;
  &:hover, &:active, &.active, &:focus {
    background-color: #e55a99;
  }
}


/* -----------------------------------------------------------
	3. STRUCTURE
----------------------------------------------------------- */
/* 3.0 Header
----------------------------------------------------------- */
header {
  .navbar {
    background-color: #355EA7;
  }
  .form-control {
    border: 0 none;
  }
}


/* 3.1 Body
----------------------------------------------------------- */
body {
  background-color: #fff;
  height: 100%;
  padding-top: 5rem;
}

.scroll {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

/* Weather */
.weather-col {
  min-width: 285px;
  &:hover .close {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.weather-card {
  color: #d95720;
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .card-subtitle {
    font-size: 0.7rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .close {
    -webkit-transition: opacity 0.2s;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 5px;
    transition: opacity 0.2s;
  }
  .temperature {
    overflow: hidden;
    padding-top: 10px;
    white-space: nowrap;
    h1, h2, h3, h4, h5, h6 {
      display: inline;
      padding: 0 10px;
      vertical-align: middle;
    }
    h1 {
      padding-left: 0;
      position: relative;
      .degree {
        font-weight: 200;
        position: absolute;
        right: -5px;
        top: -8px;
      }
      .degree::after {
        content: "°";
      }
    }
    h6 {
      font-size: 0.7rem;
      padding-right: 0;
    }

    .forecast {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      width: 0%;
      vertical-align: middle !important;
    }
  }
}


/* 3.2 Miscellaneous
----------------------------------------------------------- */
#debug {
  padding-bottom: 20px;
  .debug_dump {
    @include box_sizing;
    background-color: #343a40;
    border-left: .5rem solid #868e96;
    border-radius: .25rem;
    clear: both;
    color: white;
    font-size: 13px;
    margin: 0;
    padding: 20px;
    width: 100%;
  }
}

.debug-link {
  position: relative;
  top: -2px;
}


/* 3.3 Footer
----------------------------------------------------------- */
footer {
  color: $gray-500;
  margin-top: 45px;
  padding-top: 5px;
  a {
    color: $gray-600;
    &:hover {
      color: $gray-700;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
