<footer class="footer">
  <small><%= t('app.copyright') %></small>
  <nav>
    <ul>
      <li><%= link_to t('menu.about'), '#' %></li>
      <li><%= link_to t('menu.contact'), '#' %></li>
    </ul>
  </nav>
</footer>