<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <div class="container">
      <%= link_to t('app.name'), root_path, id: "logo", class: "navbar-brand" %>
      <%= render 'shared/add_city_form' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to t('menu.home'), root_path, class: "nav-link #{active?(root_path)}" %></li>
          <li class="nav-item"><%= link_to t('menu.help'), help_path, class: "nav-link #{active?(help_path)}" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
